.modall{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modall.is-open{
    display: flex;
}

.modall-container {
    position: relative;
    padding: 1rem;
    width: 1000px;
    height: 800px;
    overflow-y: auto;
    background-color: #fff;
}

.modall-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.link{
    text-decoration: none;
    margin: 5px;
}

.link:hover{
    text-decoration: underline;
}
